{% extends 'mainapp/layout/main_frame.html' %}
{% block body_section %}
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="{% url 'mainapp:index' %}">Trang chủ</a> <span class="divider">/</span></li>
            <li class="active">Tin tức</li>
        </ul>
        <div class="well well-small">
            <h2> Việt Nam tập trung nghiên cứu, sản xuất vaccine phòng, chống COVID-19</h2><br/>
            <h5> (Thứ tư, 29/04/2020 18:24)</h5><br/>
            <h3> Phó Thủ tướng Vũ Đức Đam giao cho Bộ Khoa học và Công nghệ chủ trì phối hợp với Bộ Y tế, Viện Hàn lâm
                khoa học Việt Nam và các cơ quan liên quan tổ chức nghiên cứu, sản xuất vaccine phòng, chống dịch
                COVID-19</h3>

            <hr class="soft"/>
            <p style="font-size: medium">
                Sáng ngày 29/4, Phó Thủ tướng Chính phủ Vũ Đức Đam đã chủ trì cuộc họp cùng lãnh đạo Bộ Y tế , Bộ Khoa
                học Công nghệ, Viện Hàn lâm Khoa học Việt Nam và một số đơn vị nghiên cứu về vấn đề tổ chức nghiên cứu,
                sản xuất vắc xin phục vụ phòng chống dịch COVID-19.

                Tại cuộc họp, báo cáo với Phó Thủ tướng, đại diện các đơn vị cho biết, ngay từ những ngày đầu có dịch
                COVID-19, các cơ quan đã bắt tay vào nghiên cứu, phân lập, nuôi cấy virus, sản xuất được sinh phẩm xét
                nghiệm, từng bước hoàn chỉnh phác đồ điều trị,... phục vụ có hiệu quả công tác phòng, chống dịch ở nước
                ta thời gian qua.


                Các đại biểu cũng thảo luận về kết quả nghiên cứu về virus, sinh phẩm xét nghiệm và hướng nghiên cứu,
                sản xuất vaccine phòng COVID-19 trên thế giới. Việc nghiên cứu, sản xuất vắc xin là nhiệm vụ đòi hỏi sự
                phối hợp của các đơn vị nghiên cứu khoa học ở các ngành khác nhau.

                Sau khi nghe các đơn vị báo cáo và thảo luận, Phó Thủ tướng Vũ Đức Đam giao cho Bộ Khoa học và Công nghệ
                chủ trì phối hợp với Bộ Y tế, Viện Hàn lâm khoa học Việt Nam và các cơ quan liên quan tổ chức nghiên
                cứu, sản xuất vaccine phòng, chống dịch COVID-19

                Các nhà khoa học tham dự cuộc họp cho biết đây là nhiệm vụ rất khó khăn, tuy nhiên, chúng ta đã có những
                thành quả nghiên cứu trước đó như phân lập được virus thành công, sản xuất thành công sinh phẩm xét
                nghiệm… do vậy, các nhà khoa học cũng bày tỏ tin tưởng dưới sự điều phối, chỉ đạo của Bộ Khoa học công
                nghệ, thì chúng ta sẽ có những hướng nghiên cứu khả quan.
            </p>
            <br/>

            <h2>List of the text</h2>

            <h3>Unordered List</h3><br/>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum varius dapibus.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum varius dapibus. Sed
                    hendrerit
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum varius dapibus. Sed hendrerit
                    porta.
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum varius dapibus. Sed hendrerit
                    porta felis .
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum varius dapibus. Sed hendrerit
                    porta felis at sollicitudin.
                </li>
            </ul>
            <h3>Ordered List</h3><br/>
            <ol>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum varius dapibus.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum varius dapibus. Sed
                    hendrerit
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum varius dapibus. Sed hendrerit
                    porta.
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum varius dapibus. Sed hendrerit
                    porta felis .
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum varius dapibus. Sed hendrerit
                    porta felis at sollicitudin.
                </li>
            </ol>
            <hr class="soft"/>
            <h2>Paragraph</h2>
            <p style="font-size: medium">
                Sáng ngày 29/4, Phó Thủ tướng Chính phủ Vũ Đức Đam đã chủ trì cuộc họp cùng lãnh đạo Bộ Y tế , Bộ Khoa
                học Công nghệ, Viện Hàn lâm Khoa học Việt Nam và một số đơn vị nghiên cứu về vấn đề tổ chức nghiên cứu,
                sản xuất vắc xin phục vụ phòng chống dịch COVID-19.

                Tại cuộc họp, báo cáo với Phó Thủ tướng, đại diện các đơn vị cho biết, ngay từ những ngày đầu có dịch
                COVID-19, các cơ quan đã bắt tay vào nghiên cứu, phân lập, nuôi cấy virus, sản xuất được sinh phẩm xét
                nghiệm, từng bước hoàn chỉnh phác đồ điều trị,... phục vụ có hiệu quả công tác phòng, chống dịch ở nước
                ta thời gian qua.


                Các đại biểu cũng thảo luận về kết quả nghiên cứu về virus, sinh phẩm xét nghiệm và hướng nghiên cứu,
                sản xuất vaccine phòng COVID-19 trên thế giới. Việc nghiên cứu, sản xuất vắc xin là nhiệm vụ đòi hỏi sự
                phối hợp của các đơn vị nghiên cứu khoa học ở các ngành khác nhau.

                Sau khi nghe các đơn vị báo cáo và thảo luận, Phó Thủ tướng Vũ Đức Đam giao cho Bộ Khoa học và Công nghệ
                chủ trì phối hợp với Bộ Y tế, Viện Hàn lâm khoa học Việt Nam và các cơ quan liên quan tổ chức nghiên
                cứu, sản xuất vaccine phòng, chống dịch COVID-19

                Các nhà khoa học tham dự cuộc họp cho biết đây là nhiệm vụ rất khó khăn, tuy nhiên, chúng ta đã có những
                thành quả nghiên cứu trước đó như phân lập được virus thành công, sản xuất thành công sinh phẩm xét
                nghiệm… do vậy, các nhà khoa học cũng bày tỏ tin tưởng dưới sự điều phối, chỉ đạo của Bộ Khoa học công
                nghệ, thì chúng ta sẽ có những hướng nghiên cứu khả quan.
            </p>

            <h5>Lorem ipsum dolor sit amet</h5><br/>
            <p>
                Nullam a vulputate leo. Nulla tristique metus eros. Curabitur ultrices commodo mauris, sit amet faucibus
                lectus fermentum in.
                Nulla eleifend, augue hendrerit tempus faucibus, diam lacus aliquet urna, eget facilisis turpis risus
                quis arcu.
                Cras placerat suscipit sem, ac consequat dui iaculis eu. Cras elit enim, adipiscing lobortis rutrum ac,
                vehicula nec massa.
                Praesent pharetra ligula ac erat venenatis feugiat. Quisque id nulla mi. Mauris at orci nec nisi
                eleifend auctor.
            </p>

            <hr class="soft"/>
            <h2>Table</h2>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
            <br>
            <br>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td rowspan="2">1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@TwBootstrap</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
            <hr/>
            <h2>Form with validation states</h2><br/>

            <form class="bs-docs-example form-horizontal">
                <div class="control-group warning">
                    <label class="control-label" for="inputWarning">Input with warning</label>
                    <div class="controls">
                        <input type="text" id="inputWarning">
                        <span class="help-inline">Something may have gone wrong</span>
                    </div>
                </div>
                <div class="control-group error">
                    <label class="control-label" for="inputError">Input with error</label>
                    <div class="controls">
                        <input type="text" id="inputError">
                        <span class="help-inline">Please correct the error</span>
                    </div>
                </div>
                <div class="control-group info">
                    <label class="control-label" for="inputInfo">Input with info</label>
                    <div class="controls">
                        <input type="text" id="inputInfo">
                        <span class="help-inline">Username is taken</span>
                    </div>
                </div>
                <div class="control-group success">
                    <label class="control-label" for="inputSuccess">Input with success</label>
                    <div class="controls">
                        <input type="text" id="inputSuccess">
                        <span class="help-inline">Woohoo!</span>
                    </div>
                </div>
            </form>

            <h5>Lorem ipsum dolor sit amet</h5><br/>
            <p>
                Aliquam interdum, ipsum a posuere dictum, tellus risus blandit dolor, at tristique sapien urna vel
                purus. Pellentesque in dictum urna. Sed feugiat libero sit amet arcu malesuada eu convallis dui
                convallis. Donec facilisis massa a ipsum aliquam lobortis. Praesent ac lectus sed leo aliquam egestas.
                Sed ante neque, volutpat ac tempor et, bibendum at ligula. Nunc porta vestibulum sodales.
            </p>
        </div>
    </div>
{% endblock %}