{% extends 'mainapp/layout/main_frame.html' %}
{% block body_section %}
    <div class="span9">
        <div class="well well-small">
            <h3>{{ category_name }} </h3>
            {% if shoes_groups %}
                {% for shoes_group in shoes_groups %}
                    <div class="row-fluid">
                        <ul class="thumbnails">
                            {% for shoe in shoes_group %}
                                <li class="span4">
                                    <div class="thumbnail">
                                        <a href="{% url 'mainapp:product_detail' product_id=shoe.id %}"
                                           class="overlay"></a>
                                        <a class="zoomTool" href="{% url 'mainapp:product_detail' product_id=shoe.id %}"
                                           title="{{ shoe.shoeName }}"><span
                                                class="icon-search"></span></a>
                                        <a href="{% url 'mainapp:product_detail' product_id=shoe.id %}"><img
                                                style="height: 200px"
                                                src="{{ shoe.shoeThumbnail.url }}"
                                                alt=""></a>
                                        <div class="caption cntr">
                                            <p style="height: 50px">{{ shoe.shoeName }}</p>
                                            <p><strong> {{ shoes_price_new|get_item:shoe.id }} đ</strong></p>
                                            <h4><a class="shopBtn" href="#" title="add to cart"> Xem khi tiết </a></h4>
                                            <div class="actionList">
                                                <span class="pull-left"><span
                                                        class="icon-shopping-cart"></span> {{ shoe.quantitySold }}</span>
                                                <span class="pull-right"><span
                                                        class="icon-heart"></span> {{ shoe.favouriteCount }}</span>
                                            </div>
                                            <br class="clr">
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="text-center">
            <form action="" method="get" class="form-inline">
                <a class="shopBtn" href="{{ prev_page }}"> <span class="icon-arrow-left"></span></a>
                <input type="text" class="text-center" placeholder="{{ page }}" style="max-width: 40px">
                <a class="shopBtn" href="{{ next_page }}"> <span class="icon-arrow-right"></span></a>
            </form>
        </div>
    </div>
{% endblock %}