{% extends 'mainapp/layout/main_frame_no_sidebar.html' %}
{% block body_section %}
    <hr class="soften">
    <div>
        <h1>Làm sao để giao tiếp với chatbot hiệu quả</h1>
    </div>
    <hr class="soften">
    <div class="row">
        <div class="span8">
            <p>Quý khách vui lòng sử dụng các tùy chọn chatbot cung cấp.
                Hoặc nếu thích, khi chat với bot hãy sử dụng các câu ngắn, rõ ràng,
                đồng nghĩa với các câu thoại bên dưới, hoặc tương đồng với các tùy chọn bot cung cấp để đạt hiệu quả cao
                nhất. Cảm ơn quý vị đã sử dụng dịch vụ.</p>
            <br/>
            <h5> Lấy danh sách mã giảm giá </h5>
            <p> chat: cho tôi xem danh sách mã giảm giá </p>
            <br/>
            <h5> Lưu lại mã giảm giá </h5>
            <p> chat: lưu cho tôi mã MAGIAMGIA </p>
            <br/>
            <h5> Xem top các giày bán chạy </h5>
            <p> chat: cho tôi xem mấy đôi giày đang hot nào </p>
            <br/>
            <h5> Xem danh sách các loại giày đang có </h5>
            <p> chat: cho tôi xem bạn có những loại giày nào? </p>
            <br/>
            <h5> Xem các giày mới nhập về </h5>
            <p> chat: tôi cần xem đôi giày mới nhập </p>
            <br/>
            <h5> Thêm giày vào giỏ hàng </h5>
            <p> Quý khách vui lòng chọn giày theo model giày trước khi yêu cầu thêm giày vào giỏ hàng.</p>
            <p> chat: thêm vào giỏ hàng đôi B1234 cho tôi (B1234 là model giày)</p>
            <br/>
        </div>
        <div class="span4">
            Mọi thắc mắc vui lòng liên hệ<br/>
            0900 1234 678<br/>
        </div>
    </div>
{% endblock %}